.bg-general{
                background: url('images/background.jpg') no-repeat transparent;
                background-size: cover;
                width: 100%;
                height:100%;
        }

        .button{
                padding: 15px 25px;
    border-radius: 40px;
    /* size: 26px; */
    font-size: 15px;              
background-color: #fff;
         
        }
html, body{       
width:100%;                  
height:100%;                 
margin:0;                    
}                                      
        ion-grid {                     
                height: 100%;          
                                       
                ion-row {              
                        height: 33.33%;
                }
        }
